.btn {
  padding: 12px 24px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition);
  border: none;
  font-size: 16px;
}

.btn.primary {
  background-color: var(--accent);
  color: var(--primary);
}

.btn.primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(100, 255, 218, 0.2);
  background-color: var(--card);
  color: var(--accent);
}

.btn.outline {
  background: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
}

.btn.outline:hover {
  background: var(--accent);
  color: var(--primary);
}
