:root {
  /* Light Theme Variables */
  --primary-light: #f5f7ff;
  --secondary-light: #e0e7ff;
  --text-light: #2d3728;
  --accent-light: #3a86ff;
  --card-light: #ffffff;
  --border-light: #e2e8f0;
  --nav-light: #fafafad9;
  --item-light: #7a848410;
  --contact-shadow-light: rgba(0, 0, 0, 0.5);

  --changePrimary-light: #1976d2;
  --changeSecondary-light: #9c27b0;
  --changeThird-light: #45fbe9;

  /* Dark Theme Variables  */
  --primary-dark: #0a192f;
  --secondary-dark: #112240;
  --text-dark: #ccd6f6;
  --accent-dark: #64ffda;
  --card-dark: #0a1a35;
  --border-dark: #1e2a47;
  --nav-dark: #0a192fd9;
  --item-dark: #64ffda0d;
  --contact-shadow-dark: rgba(84, 83, 83, 0.5);

  --changePrimary-dark: #04a4fb;
  --changeSecondary-dark: #d803fd;
  --changeThird-dark: #f55905;


  /* Common Variables */
  --primary: var(--primary-dark);
  --secondary: var(--secondary-dark);
  --text: var(--text-dark);
  --accent: var(--accent-dark);
  --card: var(--card-dark);
  --border: var(--border-dark);
  --nav: var(--nav-dark);
  --item: var(--item-dark);
  --contact-shadow: var(--contact-shadow-dark);
  --transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  --changePrimary: var(--changePrimary-dark);
  --changeSecondary: var(--changeSecondary-dark);
  --changeThird: var(--changeThird-dark);
}

[data-theme="light"] {
  --primary: var(--primary-light);
  --secondary: var(--secondary-light);
  --text: var(--text-light);
  --accent: var(--accent-light);
  --card: var(--card-light);
  --border: var(--border-light);
  --nav: var(--nav-light);
  --item: var(--item-light);
  --contact-shadow: var(--contact-shadow-light);

  --changePrimary: var(--changePrimary-light);
  --changeSecondary: var(--changeSecondary-light);
  --changeThird: var(--changeThird-light);
}
